Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm oxlint --fix {staged_files}
  stage_fixed: true

lint:
  run: pnpm oxlint {staged_files}

refactor: remove test timeout
  samples/basic-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/activities/index.ts
Due: format, lint

refactor: contract validation
  packages/contract/src/builder.ts
Due: format, lint

refactor: sample with clean archi
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/client.ts
  samples/boxed-order-processing/src/contract.ts
  samples/boxed-order-processing/src/domain/entities/order.schema.ts
  samples/boxed-order-processing/src/domain/ports/inventory.port.ts
  samples/boxed-order-processing/src/domain/ports/logger.port.ts
  samples/boxed-order-processing/src/domain/ports/notification.port.ts
  samples/boxed-order-processing/src/domain/ports/payment.port.ts
  samples/boxed-order-processing/src/domain/ports/shipping.port.ts
  samples/boxed-order-processing/src/domain/usecases/create-shipment.usecase.ts
  samples/boxed-order-processing/src/domain/usecases/process-payment.usecase.ts
  samples/boxed-order-processing/src/domain/usecases/refund-payment.usecase.ts
  samples/boxed-order-processing/src/domain/usecases/release-inventory.usecase.ts
  samples/boxed-order-processing/src/domain/usecases/reserve-inventory.usecase.ts
  samples/boxed-order-processing/src/domain/usecases/send-notification.usecase.ts
  samples/boxed-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/shipping.adapter.ts
  samples/boxed-order-processing/src/workflows/process-order.ts
Due: format, lint

refactor: simplify workflow declaration
  README.md
  docs/CONTRACT_HANDLER.md
  packages/worker-boxed/README.md
  packages/worker/README.md
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/contract.ts
  samples/basic-order-processing/src/domain/entities/order.schema.ts
  samples/basic-order-processing/src/domain/ports/inventory.port.ts
  samples/basic-order-processing/src/domain/ports/logger.port.ts
  samples/basic-order-processing/src/domain/ports/notification.port.ts
  samples/basic-order-processing/src/domain/ports/payment.port.ts
  samples/basic-order-processing/src/domain/ports/shipping.port.ts
  samples/basic-order-processing/src/domain/usecases/create-shipment.usecase.ts
  samples/basic-order-processing/src/domain/usecases/process-payment.usecase.ts
  samples/basic-order-processing/src/domain/usecases/release-inventory.usecase.ts
  samples/basic-order-processing/src/domain/usecases/reserve-inventory.usecase.ts
  samples/basic-order-processing/src/domain/usecases/send-notification.usecase.ts
  samples/basic-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/shipping.adapter.ts
  samples/basic-order-processing/src/workflows/process-order.ts
  samples/boxed-order-processing/src/workflows/process-order.ts
Due: format, lint

refactor: samples tree
  .vscode/settings.json
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/application/activities.ts
  samples/basic-order-processing/src/application/client.ts
  samples/basic-order-processing/src/application/contract.ts
  samples/basic-order-processing/src/application/worker.ts
  samples/basic-order-processing/src/application/workflows.ts
  samples/basic-order-processing/src/dependencies.ts
  samples/basic-order-processing/src/integration.spec.ts
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/application/activities.ts
  samples/boxed-order-processing/src/application/client.ts
  samples/boxed-order-processing/src/application/contract.ts
  samples/boxed-order-processing/src/application/worker.ts
  samples/boxed-order-processing/src/application/workflows.ts
  samples/boxed-order-processing/src/dependencies.ts
  samples/boxed-order-processing/src/integration.spec.ts
  tools/testing/src/extension.ts
Due: format, lint

docs: sample readme
  samples/README.md
Due: none

test: deterministic port implementation
  samples/basic-order-processing/src/integration.spec.ts
Due: format, lint

chore: dependencies maintainance
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

refactor: inline workflow
  samples/basic-order-processing/src/application/workflows.ts
Due: format, lint

refactor: boxed workflow
  packages/worker-boxed/src/handler.ts
  samples/boxed-order-processing/src/application/workflows.ts
  samples/boxed-order-processing/src/dependencies.ts
  samples/boxed-order-processing/src/domain/entities/order.schema.ts
  samples/boxed-order-processing/src/integration.spec.ts
Due: format, lint

refactor: boxed workflow
  pnpm-lock.yaml
  samples/README.md
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/application/workflows.ts
Due: format, lint

refactor: split worker by activity and workflow concerns
  README.md
  docs/ACTIVITY_HANDLERS.md
  packages/worker-boxed/README.md
  packages/worker-boxed/package.json
  packages/worker-boxed/src/activity.ts
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/src/workflow.ts
  packages/worker/README.md
  packages/worker/package.json
  packages/worker/src/activity.ts
  packages/worker/src/workflow.ts
  pnpm-lock.yaml
  samples/basic-order-processing/src/application/activities.ts
  samples/basic-order-processing/src/application/workflows.ts
  samples/boxed-order-processing/README.md
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/application/activities.ts
  samples/boxed-order-processing/src/application/workflows.ts
Due: format, lint

docs: review
  README.md
  docs/ACTIVITY_HANDLERS.md
  docs/CATALOG.md
  docs/CONTRIBUTING.md
  docs/ENTRY_POINTS.md
  packages/client/README.md
  packages/contract/README.md
  packages/worker-boxed/README.md
  packages/worker/README.md
  samples/README.md
  samples/basic-order-processing/README.md
  samples/boxed-order-processing/README.md
Due: none

fix: typecheck
  .github/workflows/release.yml
  README.md
  docs/ACTIVITY_HANDLERS.md
  docs/ENTRY_POINTS.md
  packages/contract/README.md
  packages/worker-boxed/README.md
  packages/worker-boxed/src/handler.ts
  packages/worker/README.md
  samples/README.md
  samples/basic-order-processing/README.md
  samples/boxed-order-processing/README.md
Due: format, lint

chore: publish config
  .changeset/config.json
  .github/workflows/release.yml
  samples/basic-order-processing/package.json
  samples/boxed-order-processing/package.json
Due: format

chore: changesets track testing
  .changeset/config.json
  tools/tsconfig/package.json
Due: format

refactor: move testing utilities to packages
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/src/extension.ts
  packages/testing/src/global-setup.ts
  packages/testing/tsconfig.json
  tools/testing/config/sql.yaml
Due: format, lint

chore(cicd): release after ci pass
  .github/workflows/release.yml
Due: format

fix: lockfile
  pnpm-lock.yaml
Due: format

chore(cicd): test integration
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/client/package.json
  packages/client/vitest.config.ts
  packages/contract/package.json
  packages/contract/vitest.config.ts
  packages/testing/package.json
  packages/worker-boxed/package.json
  packages/worker-boxed/vitest.config.ts
  packages/worker/package.json
  packages/worker/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/package.json
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/vitest.config.ts
  vitest.config.ts
Due: format, lint

refactor: boxed error handling
  packages/worker-boxed/src/activity.ts
  packages/worker-boxed/src/handler.spec.ts
  packages/worker-boxed/src/handler.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/boxed-order-processing/README.md
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/application/activities.ts
  samples/boxed-order-processing/src/infrastructure/adapters/payment.adapter.ts
  tools/tsconfig/base.json
  tools/tsconfig/common.json
Due: format, lint

test: proper error handling
  packages/worker-boxed/src/handler.spec.ts
  packages/worker/src/handler.spec.ts
Due: format, lint

docs: testing package
  packages/testing/README.md
Due: none

refactor: auto review
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/testing/src/extension.ts
  packages/worker-boxed/src/errors.ts
  packages/worker/src/handler.ts
Due: format, lint

chore: node version
  .npmrc
  .nvmrc
Due: none

chore(cicd): remove node-setup action
  .github/actions/setup/action.yml
Due: format

chore(cicd): init knip
  .github/workflows/ci.yml
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

refactor: knip fix
  package.json
  packages/client/package.json
  packages/testing/package.json
  packages/worker-boxed/src/handler.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/application/contract.ts
  samples/basic-order-processing/src/dependencies.ts
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/application/contract.ts
  samples/boxed-order-processing/src/dependencies.ts
Due: format, lint

fix: knip suggestion
  knip.json
Due: format

refactor: review
  samples/basic-order-processing/src/dependencies.ts
  samples/boxed-order-processing/src/dependencies.ts
Due: format, lint

refactor: remove pino pretty
  knip.json
  samples/basic-order-processing/src/application/client.ts
  samples/basic-order-processing/src/application/worker.ts
  samples/basic-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/shipping.adapter.ts
  samples/boxed-order-processing/src/application/client.ts
  samples/boxed-order-processing/src/application/worker.ts
  samples/boxed-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/shipping.adapter.ts
Due: format, lint

refactor: unify logger
  samples/basic-order-processing/src/application/client.ts
  samples/basic-order-processing/src/application/worker.ts
  samples/basic-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/basic-order-processing/src/infrastructure/adapters/shipping.adapter.ts
  samples/basic-order-processing/src/logger.ts
  samples/boxed-order-processing/src/application/client.ts
  samples/boxed-order-processing/src/application/worker.ts
  samples/boxed-order-processing/src/infrastructure/adapters/inventory.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/logger.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/notification.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/boxed-order-processing/src/infrastructure/adapters/shipping.adapter.ts
  samples/boxed-order-processing/src/logger.ts
Due: format, lint

fix: peer
  packages/worker-boxed/package.json
  pnpm-lock.yaml
  samples/boxed-order-processing/package.json
Due: format

fix: typecheck
  packages/worker-boxed/src/handler.ts
Due: format, lint

docs: badges
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: website
  .github/workflows/deploy-docs.yml
  .gitignore
  README.md
  knip.json
  packages/client/README.md
  packages/contract/README.md
  packages/testing/README.md
  packages/worker-boxed/README.md
  packages/worker/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/README.md
  samples/basic-order-processing/README.md
  samples/boxed-order-processing/README.md
  tools/tsconfig/README.md
  website/.vitepress/config.ts
  website/docs/api/client.md
  website/docs/api/contract.md
  website/docs/api/index.md
  website/docs/api/testing.md
  website/docs/api/worker-boxed.md
  website/docs/api/worker.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/boxed-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/activity-handlers.md
  website/docs/guide/core-concepts.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/installation.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
  website/docs/index.md
  website/docs/public/logo.svg
  website/package.json
Due: format, lint

fix: tsconfig publish
  tools/tsconfig/package.json
Due: format

Update lefthook.yml
  lefthook.yml
Due: format

Apply suggestions from code review
  docs/ROADMAP.md
Due: none

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
