Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json,yaml,yml,md}"
      exclude: "pnpm-lock.yaml"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      skip_empty: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm oxlint {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix(types): make name helpers distributive over unions and tolerate optional fields
  packages/contract/src/types-inference.spec.ts
  packages/contract/src/types.ts
  packages/worker/src/workflow.ts
Due: format, lint

fix(worker): unwrap child workflow failure causes; type WorkflowFailedError.cause as TemporalFailure
  packages/client/src/client.ts
  packages/client/src/errors.spec.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/client/src/internal.ts
  packages/worker/src/child-workflow.spec.ts
  packages/worker/src/errors.ts
  packages/worker/src/internal.ts
  packages/worker/src/workflow.ts
Due: format, lint

fix(contract): isolate result-async helper to subpath export to keep neverthrow opt-in
  packages/client/src/internal.ts
  packages/contract/package.json
  packages/contract/src/index.ts
  packages/worker/src/internal.ts
Due: format, lint

chore: add missing changesets for the audit-fix PRs
  .changeset/child-workflow-failure-causes.md
  .changeset/result-async-and-scope-errors.md
  .changeset/temporal-sdk-contract-compliance.md
  .changeset/types-soundness-and-name-helpers.md
Due: format

docs: remove blog section
  docs/.vitepress/config.ts
  docs/blog/index.md
  docs/blog/introducing-temporal-contract.md
Due: format, lint

fix(client): reject searchAttributes on workflows that declare none
  packages/client/src/client.spec.ts
  packages/client/src/internal.ts
Due: format, lint

fix: drop orphan logger files; address PR review feedback
  .changeset/audit-cleanup-batch-2.md
  examples/order-processing-worker/src/dependencies.ts
  examples/order-processing-worker/src/domain/ports/logger.port.ts
  examples/order-processing-worker/src/infrastructure/adapters/logger.adapter.ts
  packages/worker/src/activity.spec.ts
  packages/worker/src/continue-as-new.spec.ts
Due: format, lint

chore(deps): upgrade Node, pnpm, and project dependencies
  .changeset/upgrade-runtime-deps.md
  .node-version
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): drop stale pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): override fast-uri to >=3.1.2
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

docs(client): drop stale "boxed pattern" reference in TypedClientError JSDoc
  packages/client/src/errors.ts
Due: format, lint

fix(worker): surface contract workflow name on declareWorkflow return
  .changeset/fix-declare-workflow-name.md
  packages/worker/src/workflow.spec.ts
  packages/worker/src/workflow.ts
Due: format, lint

fix(client): widen @temporalio/client peer range to ^1
  .changeset/permissive-temporalio-client-peer.md
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/src/schedule.spec.ts
Due: format, lint

docs(worker): show per-activity taskQueue routing for activityOptionsByName
  packages/worker/README.md
  packages/worker/src/workflow.ts
Due: format, lint

docs(website): add Google Search Console verification meta tag
  docs/.vitepress/config.ts
Due: format, lint

chore(deps): ignore unfixable esbuild advisory GHSA-gv7w-rqvm-qjhr
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): bump @temporalio, testcontainers, turbo, pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): override protobufjs and ignore unfixable vite advisory
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(worker): fail execution terminally on contract validation errors
  .changeset/validation-errors-fail-terminally.md
  packages/worker/src/__tests__/worker.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/errors.spec.ts
  packages/worker/src/errors.ts
  packages/worker/src/workflow.ts
Due: format, lint

fix(worker): keep validation error `name` writable
  packages/worker/src/errors.spec.ts
  packages/worker/src/errors.ts
Due: format, lint

chore(deps): override undici >=8.5.0 to clear high audit advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: update URLs from btravers to btravstack org
  .agents/rules/project-overview.md
  CONTRIBUTING.md
  README.md
  docs/.vitepress/config.ts
  docs/examples/basic-order-processing.md
  docs/examples/index.md
  docs/guide/nexus-integration.md
  docs/guide/troubleshooting.md
  docs/index.md
  examples/README.md
  examples/order-processing-worker/README.md
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/README.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/README.md
  packages/testing/package.json
  packages/worker/CHANGELOG.md
  packages/worker/README.md
  packages/worker/package.json
  tools/tsconfig/README.md
Due: format, lint

Use the new temporal-contract project logo
  docs/public/logo.svg
Due: none

fix(docs): pin shared theme import to an immutable commit SHA
  docs/.vitepress/theme/custom.css
Due: none

Adopt shared btravstack design system
  docs/.vitepress/theme/custom.css
Due: none

Switch to evolved light/dark project logos
  docs/.vitepress/config.ts
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/public/logo.svg
Due: format, lint

Update logo to the evolved flat-beetroot mark
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/public/logo.svg
Due: none

Add theme-aware (light/dark) project logo
  docs/.vitepress/config.ts
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/public/logo.svg
Due: format, lint
