Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: lint, sort-package-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json,yaml,yml,md}"
      exclude: "*/package.json,pnpm-lock.yaml"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm oxlint {staged_files}
    sort-package-json:
      glob: "**/package.json"
      run: pnpm sort-package-json {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

chore: unify node version across project and CI (#101)
  .github/actions/setup/action.yml
  .node-version
Due: none

chore: update pnpm
  package.json
Due: none

chore: update pnpm (#102)
  package.json
Due: none

feat: add @temporal-contract/*-effect packages
  package.json
  packages/client-effect/README.md
  packages/client-effect/package.json
  packages/client-effect/src/client.spec.ts
  packages/client-effect/src/client.ts
  packages/client-effect/src/errors.ts
  packages/client-effect/src/index.ts
  packages/client-effect/src/layer.ts
  packages/client-effect/tsconfig.json
  packages/client-effect/vitest.config.ts
  packages/contract-effect/README.md
  packages/contract-effect/package.json
  packages/contract-effect/src/contract.spec.ts
  packages/contract-effect/src/contract.ts
  packages/contract-effect/src/index.ts
  packages/contract-effect/src/types.ts
  packages/contract-effect/tsconfig.json
  packages/contract-effect/vitest.config.ts
  packages/worker-effect/README.md
  packages/worker-effect/package.json
  packages/worker-effect/src/activity.spec.ts
  packages/worker-effect/src/activity.ts
  packages/worker-effect/src/errors.ts
  packages/worker-effect/src/index.ts
  packages/worker-effect/tsconfig.json
  packages/worker-effect/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, sort-package-json

docs: add docs support
  docs/api/index.md
  docs/package.json
  docs/scripts/copy-docs.ts
  packages/client-effect/package.json
  packages/client-effect/typedoc.json
  packages/contract-effect/package.json
  packages/contract-effect/typedoc.json
  packages/worker-effect/package.json
  packages/worker-effect/typedoc.json
  pnpm-lock.yaml
Due: lint, sort-package-json

test: added integration testing for effect api
  examples/order-processing-worker-effect/package.json
  examples/order-processing-worker-effect/src/application/activities.ts
  examples/order-processing-worker-effect/src/application/workflows.ts
  examples/order-processing-worker-effect/src/contract.ts
  examples/order-processing-worker-effect/src/dependencies.ts
  examples/order-processing-worker-effect/src/domain/entities/order.schema.ts
  examples/order-processing-worker-effect/src/domain/ports/inventory.port.ts
  examples/order-processing-worker-effect/src/domain/ports/notification.port.ts
  examples/order-processing-worker-effect/src/domain/ports/payment.port.ts
  examples/order-processing-worker-effect/src/domain/ports/shipping.port.ts
  examples/order-processing-worker-effect/src/domain/usecases/create-shipment.usecase.ts
  examples/order-processing-worker-effect/src/domain/usecases/process-payment.usecase.ts
  examples/order-processing-worker-effect/src/domain/usecases/refund-payment.usecase.ts
  examples/order-processing-worker-effect/src/domain/usecases/release-inventory.usecase.ts
  examples/order-processing-worker-effect/src/domain/usecases/reserve-inventory.usecase.ts
  examples/order-processing-worker-effect/src/domain/usecases/send-notification.usecase.ts
  examples/order-processing-worker-effect/src/infrastructure/adapters/inventory.adapter.ts
  examples/order-processing-worker-effect/src/infrastructure/adapters/notification.adapter.ts
  examples/order-processing-worker-effect/src/infrastructure/adapters/payment.adapter.ts
  examples/order-processing-worker-effect/src/infrastructure/adapters/shipping.adapter.ts
  examples/order-processing-worker-effect/src/integration.spec.ts
  examples/order-processing-worker-effect/src/logger.ts
  examples/order-processing-worker-effect/tsconfig.json
  examples/order-processing-worker-effect/vitest.config.ts
  pnpm-lock.yaml
Due: lint, sort-package-json

chore: repository deps maintenance
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: repository deps maintenance (#113)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: rollup vulnerability
  package.json
  pnpm-lock.yaml
Due: none

fix: rollup vulnerability (#114)
  package.json
  pnpm-lock.yaml
Due: none

chore: remove sort-package-json in favor of oxfmt
  .agents/rules/code-style.md
  .agents/rules/dependencies.md
  .github/workflows/ci.yml
  .oxfmtrc.json
  examples/order-processing-contract/package.json
  lefthook.yml
  package.json
  packages/boxed/package.json
  packages/client-nestjs/package.json
  packages/client/package.json
  packages/contract/package.json
  packages/testing/package.json
  packages/worker-nestjs/package.json
  packages/worker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

chore: remove sort-package-json in favor of oxfmt (#115)
  .agents/rules/code-style.md
  .agents/rules/dependencies.md
  .github/workflows/ci.yml
  .oxfmtrc.json
  examples/order-processing-contract/package.json
  lefthook.yml
  package.json
  packages/boxed/package.json
  packages/client-nestjs/package.json
  packages/client/package.json
  packages/contract/package.json
  packages/testing/package.json
  packages/worker-nestjs/package.json
  packages/worker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

fix: serialize-javascript vulnerability
  package.json
  pnpm-lock.yaml
Due: none

chore: remove remaining NestJS references
  .agents/rules/dependencies.md
  examples/README.md
  examples/order-processing-client/README.md
Due: none

feat: add per-activity ActivityOptions support in declareWorkflow
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/workflow.ts
Due: lint

chore: dependecies maintenance
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: dependecies maintenance (#126)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(worker): add perActivityOptions to declareWorkflow
  .changeset/per-activity-options.md
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/workflow.ts
Due: lint

docs: document perActivityOptions in worker guide and agent rules
  .agents/rules/handlers.md
  docs/guide/worker-implementation.md
Due: none

chore: dependecies maintenance
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

chore: dependecies maintenance (#133)
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

chore: dependecies maintenance
  .node-version
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: revert node types version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: vulnerability
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve knip and type check CI failures
  knip.json
  packages/boxed/src/future.spec.ts
Due: lint

chore: dependecies maintenance (#147)
  .node-version
  .npmrc
  knip.json
  package.json
  packages/boxed/src/future.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: dependencies maintenance
  .github/workflows/dependabot-auto-merge.yml
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

fix: override lodash and lodash-es to resolve high severity vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

chore: dependencies maintenance (#153)
  .github/workflows/dependabot-auto-merge.yml
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

chore: dependencies maintenance
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: dependencies maintenance (#155)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: dependencies maintenance
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(worker): hoist child-workflow helpers out of declareWorkflow
  packages/worker/src/workflow.ts
Due: lint

fix: address PR review comments
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/worker/src/workflow.ts
Due: lint
