Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true
  skip_empty: true

lint:
  run: pnpm oxlint {staged_files}

Pin shared theme import to @v1.0.0 (fixes dark mode)
  docs/.vitepress/theme/custom.css
Due: none

feat!: upgrade to unthrown 0.2.0, adopt the narrowing + name fixes
  .agents/rules/code-style.md
  .changeset/migrate-to-unthrown.md
  AGENTS.md
  docs/guide/migrating-to-unthrown.md
  docs/guide/result-pattern.md
  packages/client/package.json
  packages/client/src/errors.ts
  packages/contract/package.json
  packages/worker/package.json
  packages/worker/src/errors.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

refactor: developer-experience cleanups from the unthrown retrospective
  examples/order-processing-client/package.json
  examples/order-processing-client/src/client.ts
  examples/order-processing-worker/package.json
  examples/order-processing-worker/src/integration.spec.ts
  examples/order-processing-worker/src/vitest.setup.ts
  examples/order-processing-worker/vitest.config.ts
  packages/client/package.json
  packages/client/src/__tests__/client.spec.ts
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/client/src/internal.ts
  packages/client/src/schedule.spec.ts
  packages/client/src/schedule.ts
  packages/client/src/vitest.setup.ts
  packages/client/vitest.config.ts
  packages/contract/package.json
  packages/contract/src/result-async.spec.ts
  packages/contract/src/result-async.ts
  packages/contract/src/vitest.setup.ts
  packages/contract/vitest.config.ts
  packages/worker/package.json
  packages/worker/src/__tests__/worker.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/cancellation.spec.ts
  packages/worker/src/child-workflow.ts
  packages/worker/src/internal.ts
  packages/worker/src/vitest.setup.ts
  packages/worker/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

refactor: address PR review — rename helper, fix comment + grammar
  docs/guide/troubleshooting.md
  packages/client/src/client.ts
  packages/client/src/internal.ts
  packages/client/src/schedule.ts
  packages/worker/src/cancellation.spec.ts
  packages/worker/src/cancellation.ts
  packages/worker/src/child-workflow.ts
  packages/worker/src/internal.ts
Due: format, lint

chore: enforce 7-day minimum release age for deps and dependabot
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: format

fix(docs): fix theme SSR build and pin @btravstack/theme via catalog
  docs/.vitepress/config.ts
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

docs: adopt @btravstack/theme as a real npm dependency
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

chore(docs): bump @btravstack/theme to 1.2.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(docs): bump @btravstack/theme to 1.3.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat!: migrate to unthrown 2.0.0
  .changeset/unthrown-v2.md
  docs/guide/migrating-to-unthrown.md
  packages/client/package.json
  packages/contract/package.json
  packages/worker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(docs): link up to the btravstack hub
  docs/.vitepress/config.ts
Due: format, lint

feat!: migrate to unthrown 3.0.0
  .changeset/unthrown-v3.md
  docs/guide/migrating-to-unthrown.md
  packages/client/package.json
  packages/contract/package.json
  packages/worker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

docs: add a Changelog nav link (GitHub releases)
  docs/.vitepress/config.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md}, but not: pnpm-lock.yaml
  lint: any of: *.{ts,tsx,js,jsx}
