Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-package-json

format:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

lint:
  run: pnpm oxlint {staged_files}

sort-package-json:
  run: pnpm sort-package-json {staged_files}
  stage_fixed: true

fix: format
  packages/client/package.json
  packages/client/tsconfig.json
  packages/contract/package.json
  packages/contract/tsconfig.json
  packages/testing/package.json
  packages/testing/tsconfig.json
  packages/worker/package.json
  packages/worker/tsconfig.json
  samples/order-processing-client/tsconfig.json
  samples/order-processing-contract/tsconfig.json
  samples/order-processing-worker/tsconfig.json
Due: format, sort-package-json

fix: package.json format conflict
  .oxfmtrc.json
  package.json
Due: format

chore: bump dependencies (#48)
  .oxfmtrc.json
  package.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/contract/package.json
  packages/contract/tsconfig.json
  packages/testing/package.json
  packages/testing/tsconfig.json
  packages/worker/package.json
  packages/worker/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/order-processing-client/tsconfig.json
  samples/order-processing-contract/tsconfig.json
  samples/order-processing-worker/tsconfig.json
Due: format, sort-package-json

Replace @swan-io/boxed with custom implementation for Temporal workflow compatibility (#49)
  knip.json
  packages/boxed/README.md
  packages/boxed/package.json
  packages/boxed/src/future.spec.ts
  packages/boxed/src/future.ts
  packages/boxed/src/index.ts
  packages/boxed/src/interop.spec.ts
  packages/boxed/src/interop.ts
  packages/boxed/src/result.spec.ts
  packages/boxed/src/result.ts
  packages/boxed/tsconfig.json
  packages/boxed/vitest.config.ts
  packages/client/src/client.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/worker/package.json
  packages/worker/src/activity.ts
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  pnpm-lock.yaml
  samples/order-processing-client/README.md
  samples/order-processing-worker/package.json
  samples/order-processing-worker/src/application/activities.ts
  website/docs/api/client.md
  website/docs/api/index.md
  website/docs/api/worker.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/installation.md
  website/docs/guide/result-pattern.md
Due: format, lint, sort-package-json

test: add integration tests to worker package
  .github/workflows/ci.yml
  knip.json
  package.json
  packages/testing/src/global-setup.ts
  packages/worker/package.json
  packages/worker/src/__tests__/test.contract.ts
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/handler.ts
  packages/worker/src/handler.unit.spec.ts
  packages/worker/vitest.config.ts
  pnpm-lock.yaml
  samples/order-processing-client/package.json
  samples/order-processing-worker/package.json
  turbo.json
Due: format, lint, sort-package-json

fix: typecheck
  packages/worker/package.json
  packages/worker/src/__tests__/worker.integration.spec.ts
  pnpm-lock.yaml
Due: format, lint, sort-package-json

Revert "fix: improve Temporal testcontainer startup with longer timeouts and network DNS delays"
  packages/testing/src/global-setup.ts
Due: format, lint

fix: worker integration tests
  packages/worker/src/__tests__/worker.integration.spec.ts
  samples/order-processing-worker/src/integration.spec.ts
Due: format, lint

fix: integration test
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
Due: format, lint

feat(worker)!: add integration tests and refactor signals/queries/updates API (#45)
  .github/workflows/ci.yml
  knip.json
  package.json
  packages/testing/src/global-setup.ts
  packages/worker/package.json
  packages/worker/src/__tests__/test.contract.ts
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/handler.ts
  packages/worker/src/handler.unit.spec.ts
  packages/worker/vitest.config.ts
  pnpm-lock.yaml
  samples/order-processing-client/package.json
  samples/order-processing-worker/package.json
  samples/order-processing-worker/src/integration.spec.ts
  turbo.json
Due: format, lint, sort-package-json

chore: release v0.0.5 and include @temporal-contract/boxed in fixed releases (#50)
  .changeset/config.json
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/package.json
Due: format, sort-package-json

fix: author email
  package.json
  packages/boxed/package.json
  packages/client/package.json
  packages/contract/package.json
  packages/worker/package.json
Due: format, sort-package-json

fix: author email (#53)
  package.json
  packages/boxed/package.json
  packages/client/package.json
  packages/contract/package.json
  packages/worker/package.json
Due: format, sort-package-json

chore: exclude package.json from lefthook format command
  lefthook.yml
Due: format

chore: exclude package.json from lefthook format command (#54)
  lefthook.yml
Due: format

fix: format
  website/docs/examples/nestjs-order-processing.md
Due: format

fix: test setup
  packages/worker-nestjs/package.json
  packages/worker-nestjs/vitest.config.ts
  pnpm-lock.yaml
  samples/order-processing-worker-nestjs/vitest.config.ts
Due: format, lint, sort-package-json

refactor: review boxed
  packages/boxed/src/future.spec.ts
  packages/boxed/src/future.ts
  packages/boxed/src/interop.spec.ts
  packages/boxed/src/result.spec.ts
Due: format, lint

refactor: review boxed (#55)
  packages/boxed/src/future.spec.ts
  packages/boxed/src/future.ts
  packages/boxed/src/interop.spec.ts
  packages/boxed/src/result.spec.ts
Due: format, lint

refactor: review contract
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/contract/src/helpers.spec.ts
  packages/contract/src/types.spec.ts
Due: format, lint

refactor: review contract (#56)
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/contract/src/helpers.spec.ts
  packages/contract/src/types.spec.ts
Due: format, lint

refactor: client review
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  samples/order-processing-client/src/client.ts
  samples/order-processing-worker/src/integration.spec.ts
Due: format, lint

Update packages/client/src/client.ts
  packages/client/src/client.ts
Due: format, lint

fix: error
  packages/client/src/client.ts
Due: format, lint

refactor: remove union error
  packages/client/src/client.ts
Due: format, lint

fix: tests
  packages/client/src/client.spec.ts
Due: format, lint

refactor: client review (#57)
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  samples/order-processing-client/src/client.ts
  samples/order-processing-worker/src/integration.spec.ts
Due: format, lint

refactor: review worker
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  packages/worker/src/errors.ts
  packages/worker/src/handler.ts
  packages/worker/src/types.ts
  packages/worker/src/workflow.ts
  samples/order-processing-worker/src/application/workflows.ts
Due: format, lint

fix: knip
  packages/client/src/errors.ts
  packages/worker/src/errors.ts
  packages/worker/src/types.ts
Due: format, lint

fix: typechecking
  packages/worker/src/types.ts
Due: format, lint

Update packages/worker/src/workflow.ts
  packages/worker/src/workflow.ts
Due: format, lint

refactor: review
  packages/worker/src/workflow.ts
Due: format, lint

refactor: review worker (#59)
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/worker/src/__tests__/test.workflows.ts
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  packages/worker/src/errors.ts
  packages/worker/src/handler.ts
  packages/worker/src/types.ts
  packages/worker/src/workflow.ts
  samples/order-processing-worker/src/application/workflows.ts
Due: format, lint

refactor: review worker activities
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  packages/worker/src/errors.ts
  packages/worker/src/types.ts
  packages/worker/src/workflow.ts
  samples/order-processing-worker/package.json
  samples/order-processing-worker/src/application/activities.ts
  samples/order-processing-worker/src/application/worker.ts
  samples/order-processing-worker/src/integration.spec.ts
Due: format, lint, sort-package-json

fix: knip
  packages/worker/src/types.ts
Due: format, lint

fix: types
  packages/worker/src/activity.ts
  packages/worker/src/types.ts
Due: format, lint

fix: command
  samples/README.md
  samples/order-processing-client/README.md
  samples/order-processing-client/src/client.ts
  samples/order-processing-worker/README.md
  turbo.json
  website/docs/examples/basic-order-processing.md
  website/docs/examples/index.md
Due: format, lint

feat: add available activities to ActivityDefinitionNotFoundError (#61)
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  packages/worker/src/errors.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-package-json: any of: **/package.json
