Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

lint:
  run: pnpm oxlint {staged_files}

Add Temporal Nexus integration documentation and type definitions (#16)
  README.md
  docs/NEXUS_INTEGRATION.md
  docs/ROADMAP.md
  packages/contract/src/index.ts
  packages/contract/src/nexus-types.ts
  website/docs/guide/nexus-integration.md
Due: format, lint

Separate contract definitions into dedicated packages for cross-application reusability (#17)
  pnpm-lock.yaml
  samples/basic-order-processing-contract/README.md
  samples/basic-order-processing-contract/package.json
  samples/basic-order-processing-contract/src/contract.ts
  samples/basic-order-processing-contract/src/index.ts
  samples/basic-order-processing-contract/src/schemas.ts
  samples/basic-order-processing-contract/tsconfig.json
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/application/activities.ts
  samples/basic-order-processing/src/application/client.ts
  samples/basic-order-processing/src/application/workflows.ts
  samples/basic-order-processing/src/domain/entities/order.schema.ts
  samples/basic-order-processing/src/infrastructure/adapters/payment.adapter.ts
  samples/basic-order-processing/src/integration.spec.ts
  samples/boxed-order-processing-contract/README.md
  samples/boxed-order-processing-contract/package.json
  samples/boxed-order-processing-contract/src/contract.ts
  samples/boxed-order-processing-contract/src/index.ts
  samples/boxed-order-processing-contract/src/schemas.ts
  samples/boxed-order-processing-contract/tsconfig.json
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/application/activities.ts
  samples/boxed-order-processing/src/application/client.ts
  samples/boxed-order-processing/src/application/worker.ts
  samples/boxed-order-processing/src/application/workflows.ts
  samples/boxed-order-processing/src/domain/entities/order.schema.ts
  samples/boxed-order-processing/src/integration.spec.ts
  website/docs/examples/basic-order-processing.md
  website/docs/examples/boxed-order-processing.md
  website/docs/guide/entry-points.md
Due: format, lint

refactor: use Future.fromPromise + mapError in docs, Future.value for simple sync ops, keep Future.make for complex logic (#18)
  docs/ACTIVITY_HANDLERS.md
  docs/ENTRY_POINTS.md
  packages/worker-boxed/README.md
  samples/boxed-order-processing/src/application/activities.ts
  website/docs/guide/result-pattern.md
Due: format, lint

chore: add sort-package-json with pre-commit and CI enforcement (#19)
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/client/package.json
  packages/contract/package.json
  packages/worker-boxed/package.json
  packages/worker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing-contract/package.json
  samples/basic-order-processing/package.json
  samples/boxed-order-processing-contract/package.json
  samples/boxed-order-processing/package.json
  website/package.json
Due: format

docs: move CONTRIBUTING.md to root and remove docs folder (#20)
  CONTRIBUTING.md
  README.md
  docs/ACTIVITY_HANDLERS.md
  docs/CHANGELOG.md
  docs/CHANGESETS.md
  docs/CONTRACT_HANDLER.md
  docs/ENTRY_POINTS.md
  docs/NEXUS_INTEGRATION.md
  docs/ROADMAP.md
  packages/contract/src/nexus-types.ts
  website/docs/examples/index.md
  website/docs/guide/nexus-integration.md
Due: format, lint

feat: make copyright year dynamic in VitePress footer (#23)
  website/docs/.vitepress/config.ts
Due: format, lint

chore: ignore ide files
  .vscode/extensions.json
  .vscode/settings.json
Due: format

chore: ignore ide files (#25)
  .vscode/extensions.json
  .vscode/settings.json
Due: format

chore: knip config
  knip.json
Due: format

chore: knip config (#26)
  knip.json
Due: format

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update issue templates (#27)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

refactor: format
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  samples/README.md
  samples/order-processing-client/README.md
  samples/order-processing-contract/README.md
  website/docs/api/index.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/boxed-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/activity-handlers.md
  website/docs/guide/core-concepts.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/installation.md
  website/docs/guide/nexus-integration.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
Due: none

refactor: format (#28)
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  samples/README.md
  samples/order-processing-client/README.md
  samples/order-processing-contract/README.md
  website/docs/api/index.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/boxed-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/activity-handlers.md
  website/docs/guide/core-concepts.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/installation.md
  website/docs/guide/nexus-integration.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
Due: none

chore: dependabot ignore node major
  .github/dependabot.yml
Due: format

chore: dependabot ignore node major (#30)
  .github/dependabot.yml
Due: format

ci: add format job to CI workflow and fix lefthook format configuration (#29)
  .github/workflows/ci.yml
  lefthook.yml
Due: format

[WIP] Remove lockfile from format (#34)
  .oxfmtrc.json
Due: format

chore: bump dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: bump dependencies (#35)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Update packages/client-boxed/package.json
  packages/client-boxed/package.json
Due: format

fix: format
  packages/client-boxed/src/client.ts
Due: format, lint

fix: ci
  packages/client-boxed/src/client.ts
  packages/client-boxed/src/errors.ts
  packages/client-boxed/src/index.ts
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
  pnpm-lock.yaml
Due: format, lint

Add client-boxed package with Future/Result pattern and refactor client to use it internally (#36)
  README.md
  packages/client-boxed/CHANGELOG.md
  packages/client-boxed/README.md
  packages/client-boxed/package.json
  packages/client-boxed/src/client.spec.ts
  packages/client-boxed/src/client.ts
  packages/client-boxed/src/errors.ts
  packages/client-boxed/src/index.ts
  packages/client-boxed/tsconfig.json
  packages/client-boxed/vitest.config.ts
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/order-processing-client-boxed/package.json
  samples/order-processing-client-boxed/src/client.ts
  samples/order-processing-client-boxed/src/logger.ts
  samples/order-processing-client-boxed/tsconfig.json
Due: format, lint

chore: release version 0.0.4 (#38)
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  samples/order-processing-contract/CHANGELOG.md
  samples/order-processing-contract/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: format

chore: remove sample changelog
  samples/order-processing-contract/CHANGELOG.md
  samples/order-processing-contract/package.json
Due: format

chore: remove sample changelog (#40)
  samples/order-processing-contract/CHANGELOG.md
  samples/order-processing-contract/package.json
Due: format

docs: align documentation with v0.0.4 architecture after boxed package merge (#39)
  README.md
  website/docs/.vitepress/config.ts
  website/docs/api/index.md
  website/docs/api/testing.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/result-pattern.md
Due: format, lint

feat(contract): client-side signals, queries, and updates return Future<Result<T, Error>> (#41)
  packages/client/src/client.ts
  packages/contract/package.json
  packages/contract/src/index.ts
  packages/contract/src/types.spec.ts
  packages/contract/src/types.ts
  pnpm-lock.yaml
Due: format, lint

refactor: move type utilities from contract to client/worker packages (#42)
  packages/client/src/client.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/contract/src/index.ts
  packages/contract/src/types.spec.ts
  packages/contract/src/types.ts
  packages/worker/src/activity.ts
  packages/worker/src/handler.ts
  packages/worker/src/types.ts
  packages/worker/src/workflow.ts
  website/docs/api/client.md
  website/docs/api/contract.md
  website/docs/api/worker.md
Due: format, lint

refactor: remove @swan-io/boxed dependency from contract package (#43)
  packages/contract/package.json
  packages/contract/src/index.ts
  pnpm-lock.yaml
Due: format, lint

feat(worker): add child workflow support with cross-contract capability and Future/Result pattern (#44)
  packages/worker/README.md
  packages/worker/src/errors.ts
  packages/worker/src/handler.ts
  packages/worker/src/workflow.ts
  website/docs/api/worker.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
Due: format, lint

refactor: remove redundant .toPromise() calls on Future objects (#46)
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/worker/README.md
  packages/worker/src/handler.ts
  samples/order-processing-client/src/client.ts
  samples/order-processing-worker/src/integration.spec.ts
  website/docs/api/index.md
  website/docs/api/worker.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
Due: format, lint

fix: temporal peer dependencies
  packages/client/package.json
  packages/worker/package.json
Due: format

fix: temporal peer dependencies (#47)
  packages/client/package.json
  packages/worker/package.json
Due: format

chore: bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
