Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: lint, sort-package-json

lint:
  run: pnpm oxlint {staged_files}

sort-package-json:
  run: pnpm sort-package-json {staged_files}
  stage_fixed: true

Update website/docs/guide/result-pattern.md
  website/docs/guide/result-pattern.md
Due: none

Document @swan-io/boxed usage and network serialization behavior, add NestJS integration docs (#80)
  README.md
  website/docs/.vitepress/config.ts
  website/docs/api/boxed.md
  website/docs/api/index.md
  website/docs/api/worker-nestjs.md
  website/docs/examples/basic-order-processing.md
  website/docs/guide/client-usage.md
  website/docs/guide/core-concepts.md
  website/docs/guide/defining-contracts.md
  website/docs/guide/getting-started.md
  website/docs/guide/installation.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-nestjs-usage.md
  website/docs/guide/worker-usage.md
  website/docs/index.md
Due: lint

chore: prepare version 0.0.7 (#82)
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker-nestjs/CHANGELOG.md
  packages/worker-nestjs/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: sort-package-json

feat(client-nestjs): add NestJS integration package for temporal-contract client (#83)
  .changeset/config.json
  knip.json
  lefthook.yml
  packages/client-nestjs/README.md
  packages/client-nestjs/package.json
  packages/client-nestjs/src/index.ts
  packages/client-nestjs/src/interfaces.ts
  packages/client-nestjs/src/temporal-client.module-definition.ts
  packages/client-nestjs/src/temporal-client.module.ts
  packages/client-nestjs/src/temporal-client.module.unit.spec.ts
  packages/client-nestjs/src/temporal-client.service.ts
  packages/client-nestjs/src/temporal-client.service.unit.spec.ts
  packages/client-nestjs/tsconfig.json
  packages/client-nestjs/vitest.config.ts
  pnpm-lock.yaml
  website/docs/.vitepress/config.ts
  website/docs/api/client-nestjs.md
  website/docs/guide/client-nestjs-usage.md
Due: lint, sort-package-json

docs: align examples with actual Future/Result implementation patterns (#84)
  README.md
  packages/client/README.md
  packages/worker/README.md
  samples/order-processing-client/README.md
  samples/order-processing-worker/README.md
  website/docs/guide/activity-handlers.md
  website/docs/guide/client-usage.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
  website/docs/guide/worker-usage.md
  website/docs/index.md
Due: none

chore: upgrade dependencies
  packages/worker-nestjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/docs-devto.md
  website/docs/blog/introducing-temporal-contract.md
Due: sort-package-json

fix: format
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/copilot-instructions.md
  README.md
  packages/boxed/README.md
  packages/client-nestjs/README.md
  packages/client/README.md
  packages/contract/README.md
  packages/testing/README.md
  packages/worker-nestjs/README.md
  packages/worker/README.md
  samples/order-processing-contract/README.md
  samples/order-processing-worker-nestjs/README.md
  website/docs/api/boxed.md
  website/docs/api/client-nestjs.md
  website/docs/api/client.md
  website/docs/api/contract.md
  website/docs/api/index.md
  website/docs/api/testing.md
  website/docs/api/worker-nestjs.md
  website/docs/api/worker.md
  website/docs/examples/index.md
  website/docs/guide/activity-handlers.md
  website/docs/guide/client-nestjs-usage.md
  website/docs/guide/client-usage.md
  website/docs/guide/core-concepts.md
  website/docs/guide/defining-contracts.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/installation.md
  website/docs/guide/nexus-integration.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
  website/docs/guide/worker-nestjs-usage.md
  website/docs/guide/worker-usage.md
  website/docs/index.md
Due: none

refactor: docs
  .github/copilot-instructions.md
  .github/workflows/deploy-docs.yml
  CONTRIBUTING.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/api/boxed.md
  docs/api/client-nestjs.md
  docs/api/client.md
  docs/api/contract.md
  docs/api/index.md
  docs/api/testing.md
  docs/api/worker-nestjs.md
  docs/api/worker.md
  docs/blog/introducing-temporal-contract.md
  docs/examples/basic-order-processing.md
  docs/examples/index.md
  docs/guide/activity-handlers.md
  docs/guide/client-nestjs-usage.md
  docs/guide/client-usage.md
  docs/guide/core-concepts.md
  docs/guide/defining-contracts.md
  docs/guide/entry-points.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/guide/nexus-integration.md
  docs/guide/result-pattern.md
  docs/guide/worker-implementation.md
  docs/guide/worker-nestjs-usage.md
  docs/guide/worker-usage.md
  docs/index.md
  docs/package.json
  docs/public/logo.svg
  examples/README.md
  examples/order-processing-client/README.md
  examples/order-processing-client/src/client.ts
  examples/order-processing-worker-nestjs/README.md
  knip.json
Due: lint, sort-package-json

fix: security issue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: cleanup
  docs/.vitepress/config.ts
  docs/docs-devto.md
  packages/boxed/README.md
Due: lint

docs: cleanup (#89)
  docs/.vitepress/config.ts
  docs/docs-devto.md
  packages/boxed/README.md
Due: lint

docs: homepage
  docs/.vitepress/config.ts
  docs/guide/troubleshooting.md
  docs/guide/why-temporal-contract.md
  docs/index.md
Due: lint

docs: homepage (#90)
  docs/.vitepress/config.ts
  docs/guide/troubleshooting.md
  docs/guide/why-temporal-contract.md
  docs/index.md
Due: lint

refactor: remove deprecated code
  packages/contract/src/index.ts
  packages/contract/src/nexus-types.ts
  packages/worker-nestjs/package.json
  pnpm-lock.yaml
Due: lint, sort-package-json

refactor: remove deprecated code (#91)
  packages/contract/src/index.ts
  packages/contract/src/nexus-types.ts
  packages/worker-nestjs/package.json
  pnpm-lock.yaml
Due: lint, sort-package-json

chore: release 0.1.0
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client-nestjs/CHANGELOG.md
  packages/client-nestjs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker-nestjs/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
  tools/typedoc/package.json
Due: sort-package-json

chore: release 0.1.0 (#93)
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client-nestjs/CHANGELOG.md
  packages/client-nestjs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker-nestjs/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
  tools/typedoc/package.json
Due: sort-package-json

refactor: remove generated files
  .gitignore
  docs/api/boxed/index.md
  docs/api/client-nestjs/index.md
  docs/api/client/index.md
  docs/api/contract/index.md
  docs/api/testing/extension.md
  docs/api/testing/global-setup.md
  docs/api/testing/index.md
  docs/api/worker-nestjs/index.md
  docs/api/worker/activity.md
  docs/api/worker/index.md
  docs/api/worker/workflow.md
  packages/boxed/docs/index.md
  packages/client-nestjs/docs/index.md
  packages/client/docs/index.md
  packages/contract/docs/index.md
  packages/testing/docs/extension.md
  packages/testing/docs/global-setup.md
  packages/testing/docs/index.md
  packages/worker-nestjs/docs/index.md
  packages/worker/docs/activity.md
  packages/worker/docs/index.md
  packages/worker/docs/workflow.md
Due: none

fix: knip
  knip.json
Due: none

docs: generated api (#94)
  .gitignore
  docs/.vitepress/config.ts
  docs/api/boxed.md
  docs/api/client-nestjs.md
  docs/api/client.md
  docs/api/contract.md
  docs/api/index.md
  docs/api/testing.md
  docs/api/worker-nestjs.md
  docs/api/worker.md
  docs/blog/index.md
  docs/blog/introducing-temporal-contract.md
  docs/package.json
  docs/scripts/copy-docs.ts
  knip.json
  packages/boxed/package.json
  packages/boxed/typedoc.json
  packages/client-nestjs/package.json
  packages/client-nestjs/typedoc.json
  packages/client/package.json
  packages/client/typedoc.json
  packages/contract/package.json
  packages/contract/typedoc.json
  packages/testing/package.json
  packages/testing/typedoc.json
  packages/worker-nestjs/package.json
  packages/worker-nestjs/typedoc.json
  packages/worker/package.json
  packages/worker/typedoc.json
  pnpm-lock.yaml
  tools/typedoc/base.json
  turbo.json
Due: lint, sort-package-json

fix: deploy docs
  .github/workflows/deploy-docs.yml
Due: none

fix: deploy docs (#95)
  .github/workflows/deploy-docs.yml
Due: none

chore: fmt import sort
  .oxfmtrc.json
  .oxlintrc.json
  CLAUDE.md
Due: none

chore: fmt import sort (#96)
  .oxfmtrc.json
  .oxlintrc.json
  CLAUDE.md
Due: none

fix: address code quality issues across boxed, client, worker, and contract packages
  packages/boxed/src/future.spec.ts
  packages/boxed/src/future.ts
  packages/boxed/src/index.ts
  packages/boxed/src/result.spec.ts
  packages/boxed/src/result.ts
  packages/client/src/client.ts
  packages/contract/src/builder.ts
  packages/worker/src/worker.ts
  packages/worker/src/worker.unit.spec.ts
  packages/worker/src/workflow.ts
Due: lint

fix: address code quality issues across boxed, client, worker, and contract packages (#97)
  packages/boxed/src/future.spec.ts
  packages/boxed/src/future.ts
  packages/boxed/src/index.ts
  packages/boxed/src/result.spec.ts
  packages/boxed/src/result.ts
  packages/client/src/client.ts
  packages/contract/src/builder.ts
  packages/worker/src/worker.ts
  packages/worker/src/worker.unit.spec.ts
  packages/worker/src/workflow.ts
Due: lint

chore: dependencies maintenance
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

fix: address PR review comments
  .changeset/config.json
  .github/copilot-instructions.md
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: align documentation with source code
  docs/blog/introducing-temporal-contract.md
  docs/examples/index.md
  docs/guide/activity-handlers.md
  docs/guide/client-usage.md
  docs/guide/core-concepts.md
  docs/guide/defining-contracts.md
  docs/guide/entry-points.md
  docs/guide/getting-started.md
  docs/guide/result-pattern.md
  docs/guide/troubleshooting.md
  docs/guide/worker-implementation.md
  docs/guide/worker-nestjs-usage.md
  docs/guide/worker-usage.md
  docs/index.md
  packages/boxed/README.md
  packages/client-nestjs/README.md
  packages/client/src/client.ts
  packages/testing/README.md
  packages/worker-nestjs/README.md
  packages/worker/README.md
  packages/worker/src/workflow.ts
Due: lint

docs: align documentation with source code (#99)
  docs/blog/introducing-temporal-contract.md
  docs/examples/index.md
  docs/guide/activity-handlers.md
  docs/guide/client-usage.md
  docs/guide/core-concepts.md
  docs/guide/defining-contracts.md
  docs/guide/entry-points.md
  docs/guide/getting-started.md
  docs/guide/result-pattern.md
  docs/guide/troubleshooting.md
  docs/guide/worker-implementation.md
  docs/guide/worker-nestjs-usage.md
  docs/guide/worker-usage.md
  docs/index.md
  packages/boxed/README.md
  packages/client-nestjs/README.md
  packages/client/src/client.ts
  packages/testing/README.md
  packages/worker-nestjs/README.md
  packages/worker/README.md
  packages/worker/src/workflow.ts
Due: lint

chore: release 0.2.0
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client-nestjs/CHANGELOG.md
  packages/client-nestjs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker-nestjs/CHANGELOG.md
  packages/worker-nestjs/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: sort-package-json

chore: release 0.2.0 (#100)
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client-nestjs/CHANGELOG.md
  packages/client-nestjs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker-nestjs/CHANGELOG.md
  packages/worker-nestjs/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: sort-package-json

chore: unify node version across project and CI
  .github/actions/setup/action.yml
  .node-version
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  sort-package-json: any of: **/package.json
