Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm oxlint --fix {staged_files}
  stage_fixed: true

lint:
  run: pnpm oxlint {staged_files}

feat: activity validation
  docs/TUPLE_ARGS.md
  docs/VALIDATION_FLOW.md
  packages/worker/src/workflow.ts
Due: format, lint

refactor: single handler
  docs/CONTRACT_HANDLER.md
  docs/GLOBAL_ACTIVITIES.md
  docs/TASK_QUEUE.md
  docs/TUPLE_ARGS.md
  packages/client/src/client.ts
  packages/contract/src/builder.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/worker/src/activity.ts
  packages/worker/src/handler.ts
  packages/worker/src/index.ts
  packages/worker/src/workflow.ts
Due: format, lint

chore: ci
  .github/dependabot.yml
  .github/workflows/ci.yml
  package.json
  packages/client/package.json
  packages/contract/package.json
  packages/core/package.json
  packages/worker/package.json
  turbo.json
Due: format

fix: gitignore
  .gitignore
  pnpm-lock.yaml
Due: format

refactor: ci
  .github/workflows/ci.yml
Due: format

refactor: docs
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/ARCHITECTURE.md
  docs/BEST_PRACTICES.md
  docs/CHANGESETS.md
  docs/DATA_FLOW.md
  docs/FAQ.md
  docs/GLOBAL_ACTIVITIES.md
  docs/PUBLISHING.md
  docs/STRUCTURE.md
  docs/TASK_QUEUE.md
  docs/TUPLE_ARGS.md
  docs/VALIDATION_FLOW.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat: split handler
  .github/workflows/ci.yml
  README.md
  docs/CONTRACT_HANDLER.md
  packages/worker/src/handler.ts
  packages/worker/src/index.ts
  pnpm-workspace.yaml
Due: format, lint

docs: sample app
  README.md
  packages/client/src/client.js
  packages/client/src/index.js
  packages/contract/src/builder.js
  packages/contract/src/index.js
  packages/core/src/index.js
  packages/core/src/types.js
  packages/worker/src/handler.js
  packages/worker/src/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/README.md
  samples/basic-order-processing/.gitignore
  samples/basic-order-processing/README.md
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/client.ts
  samples/basic-order-processing/src/contract.ts
  samples/basic-order-processing/src/worker.ts
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/basic-order-processing/tsconfig.json
  turbo.json
Due: format, lint

feat: boxed implementation
  packages/worker-boxed/README.md
  packages/worker-boxed/package.json
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/src/index.ts
  packages/worker-boxed/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/README.md
  samples/boxed-order-processing/.gitignore
  samples/boxed-order-processing/README.md
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/client.ts
  samples/boxed-order-processing/src/contract.ts
  samples/boxed-order-processing/src/worker.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/tsconfig.json
Due: format, lint

refactor: remove js files
  packages/client/src/client.js
  packages/client/src/index.js
  packages/contract/src/builder.js
  packages/contract/src/index.js
  packages/core/src/index.js
  packages/core/src/types.js
  packages/worker/src/handler.js
  packages/worker/src/index.js
Due: format, lint

chore: bump pnpm
  package.json
Due: format

chore: lockfile maintainance
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

refactor: tsconfig
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/tsconfig.json
  packages/contract/package.json
  packages/contract/src/builder.ts
  packages/contract/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/worker-boxed/package.json
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/tsconfig.json
  packages/worker/package.json
  packages/worker/src/handler.ts
  packages/worker/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/basic-order-processing/tsconfig.json
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/client.ts
  samples/boxed-order-processing/src/worker.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/tsconfig.json
  tools/tsconfig/.gitignore
  tools/tsconfig/README.md
  tools/tsconfig/base.json
  tools/tsconfig/common.json
  tools/tsconfig/package.json
  tools/tsconfig/sample.json
Due: format, lint

refactor: gitignore
  .gitignore
  samples/basic-order-processing/.gitignore
  samples/boxed-order-processing/.gitignore
  tools/tsconfig/.gitignore
Due: none

refactor: client factory method
  README.md
  packages/client/README.md
  packages/client/src/client.ts
  packages/client/src/index.ts
  samples/basic-order-processing/src/client.ts
  samples/boxed-order-processing/src/client.ts
Due: format, lint

refactor: github actions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

feat: updates + signals + queries
  README.md
  packages/client/README.md
  packages/client/package.json
  packages/client/src/client.ts
  packages/contract/README.md
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/worker-boxed/README.md
  packages/worker-boxed/src/handler.ts
  packages/worker/README.md
  packages/worker/src/handler.ts
  pnpm-lock.yaml
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
Due: format, lint

refactor: worker-boxed to use base worker
  packages/worker-boxed/package.json
  packages/worker-boxed/src/handler.ts
  packages/worker/src/index.ts
  pnpm-lock.yaml
Due: format, lint

fix: format
  packages/worker-boxed/src/handler.ts
  packages/worker/src/handler.ts
  pnpm-lock.yaml
Due: format, lint

fix: pre commit
  lefthook.yml
Due: format

test: init unit tests
  .github/workflows/release.yml
  .oxlintrc.json
  README.md
  packages/client/package.json
  packages/client/src/client.ts
  packages/contract/README.md
  packages/contract/package.json
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/contract/src/helpers.spec.ts
  packages/contract/src/index.ts
  packages/core/package.json
  packages/core/src/types.spec.ts
  packages/worker-boxed/package.json
  packages/worker-boxed/src/handler.ts
  packages/worker/package.json
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/contract.ts
  samples/basic-order-processing/src/worker.ts
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/contract.ts
  samples/boxed-order-processing/src/worker.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
  vitest.config.ts
Due: format, lint

fix: ci
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

refactor: work in progress
  README.md
  docs/CONTRACT_HANDLER.md
  packages/client/package.json
  packages/client/src/client.ts
  packages/core/src/index.ts
  packages/core/src/types.spec.ts
  packages/core/src/types.ts
  packages/worker-boxed/README.md
  packages/worker-boxed/src/handler.spec.ts
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/src/index.ts
  packages/worker/README.md
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  packages/worker/src/index.ts
  samples/basic-order-processing/README.md
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/README.md
  samples/boxed-order-processing/src/worker.ts
Due: format, lint

fix: type checking
  samples/basic-order-processing/src/workflows/processOrder.ts
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
Due: format, lint

refactor: remove core
  README.md
  docs/ACTIVITY_HANDLERS.md
  docs/CATALOG.md
  packages/client/package.json
  packages/client/src/client.ts
  packages/contract/README.md
  packages/contract/package.json
  packages/contract/src/builder.ts
  packages/contract/src/index.ts
  packages/contract/src/types.spec.ts
  packages/contract/src/types.ts
  packages/core/README.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/worker-boxed/README.md
  packages/worker-boxed/package.json
  packages/worker-boxed/src/handler.spec.ts
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/src/index.ts
  packages/worker/README.md
  packages/worker/package.json
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/activities/index.ts
  samples/basic-order-processing/src/client.ts
  samples/basic-order-processing/src/contract.ts
  samples/basic-order-processing/src/worker.ts
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/client.ts
  samples/boxed-order-processing/src/contract.ts
  samples/boxed-order-processing/src/worker.ts
Due: format, lint

refactor: declaration types
  docs/ACTIVITY_HANDLERS.md
  packages/client/src/client.ts
  packages/contract/README.md
  packages/contract/src/types.ts
Due: format, lint

Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: format

refactor: remove any
  .oxlintrc.json
  packages/client/src/client.ts
  packages/contract/src/types.spec.ts
  packages/contract/src/types.ts
  packages/worker-boxed/src/handler.spec.ts
  packages/worker-boxed/src/handler.ts
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  tools/tsconfig/common.json
Due: format, lint

refactor: improve contract
  packages/contract/package.json
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/contract/src/types.ts
Due: format, lint

refactor: review client
  packages/client/package.json
  packages/client/src/client.spec.ts
  packages/client/src/client.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
  packages/contract/src/index.ts
  packages/contract/src/types.spec.ts
  packages/contract/src/types.ts
Due: format, lint

refactor: review worker
  packages/client/src/client.ts
  packages/contract/src/types.spec.ts
  packages/worker/package.json
  packages/worker/src/errors.ts
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  packages/worker/src/index.ts
Due: format, lint

refactor: review worker-boxed
  packages/worker-boxed/package.json
  packages/worker-boxed/src/errors.ts
  packages/worker-boxed/src/handler.spec.ts
  packages/worker-boxed/src/handler.ts
  packages/worker-boxed/src/index.ts
Due: format, lint

docs: review
  README.md
  packages/client/README.md
  packages/contract/README.md
  packages/worker-boxed/README.md
  packages/worker/README.md
Due: none

refactor: review samples
  samples/basic-order-processing/src/client.ts
  samples/boxed-order-processing/src/activities/index.ts
  samples/boxed-order-processing/src/worker.ts
  samples/boxed-order-processing/src/workflows/processOrder.ts
Due: format, lint

test: samples
  README.md
  docs/CATALOG.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/basic-order-processing/package.json
  samples/basic-order-processing/src/integration.spec.ts
  samples/basic-order-processing/vitest.config.ts
  samples/basic-order-processing/vitest.global-setup.ts
  samples/boxed-order-processing/package.json
  samples/boxed-order-processing/src/integration.spec.ts
  samples/boxed-order-processing/vitest.config.ts
  samples/boxed-order-processing/vitest.global-setup.ts
  tools/testing/README.md
  tools/testing/package.json
  tools/testing/src/index.ts
  tools/testing/src/temporal-container.ts
  tools/testing/tsconfig.json
Due: format, lint

fix: test setup
  tools/testing/src/index.ts
Due: format, lint

fix: testcontainers setup
  samples/basic-order-processing/src/integration.spec.ts
  samples/basic-order-processing/vitest.config.ts
  samples/basic-order-processing/vitest.global-setup.ts
  samples/boxed-order-processing/src/integration.spec.ts
  samples/boxed-order-processing/vitest.config.ts
  samples/boxed-order-processing/vitest.global-setup.ts
  tools/testing/config/sql.yaml
  tools/testing/package.json
  tools/testing/src/extension.ts
  tools/testing/src/global-setup.ts
  tools/testing/src/index.ts
  tools/testing/src/temporal-container.ts
Due: format, lint

fix: test work in progress
  packages/worker/src/handler.spec.ts
  packages/worker/src/handler.ts
  samples/basic-order-processing/src/integration.spec.ts
  samples/boxed-order-processing/src/integration.spec.ts
  tools/testing/src/extension.ts
Due: format, lint

fix: worker runner
  samples/basic-order-processing/src/integration.spec.ts
  samples/basic-order-processing/src/worker.ts
  samples/basic-order-processing/src/workflows/process-order.ts
  samples/boxed-order-processing/src/integration.spec.ts
  samples/boxed-order-processing/src/worker.ts
  samples/boxed-order-processing/src/workflows/process-order.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
