Repository btravers/temporal-contract: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-package-json

format:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

lint:
  run: pnpm oxlint {staged_files}

sort-package-json:
  run: pnpm sort-package-json {staged_files}
  stage_fixed: true

Fix workflow input validation to extract args from Temporal's array format (#63)
  packages/worker/src/workflow.ts
Due: format, lint

[WIP] Update worker activities based on review feedback (#64)
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
Due: format, lint

Revert "[WIP] Update worker activities based on review feedback (#64)"
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
Due: format, lint

refactor: review worker activities (#60)
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  packages/worker/src/workflow.ts
  samples/README.md
  samples/order-processing-client/README.md
  samples/order-processing-client/src/client.ts
  samples/order-processing-worker/README.md
  samples/order-processing-worker/package.json
  samples/order-processing-worker/src/application/activities.ts
  samples/order-processing-worker/src/application/worker.ts
  samples/order-processing-worker/src/integration.spec.ts
  turbo.json
  website/docs/examples/basic-order-processing.md
  website/docs/examples/index.md
Due: format, lint, sort-package-json

chore: bump dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: bump dependencies (#65)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat(worker): add worker entry point for simplified Temporal worker creation (#66)
  packages/worker/README.md
  packages/worker/package.json
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/worker.ts
  packages/worker/src/worker.unit.spec.ts
  samples/order-processing-worker/src/application/worker.ts
Due: format, lint, sort-package-json

fix: knip
  knip.json
Due: format

feat(client): add integration tests with testcontainers (#58)
  knip.json
  packages/client/package.json
  packages/client/src/__tests__/client.integration.spec.ts
  packages/client/src/__tests__/test.contract.ts
  packages/client/src/__tests__/test.workflows.ts
  packages/client/src/client.unit.spec.ts
  packages/client/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint, sort-package-json

Enhance documentation with visual diagrams and complete API coverage (#67)
  CONTRIBUTING.md
  README.md
  packages/boxed/README.md
  website/docs/.vitepress/config.ts
  website/docs/api/boxed.md
  website/docs/api/index.md
  website/docs/examples/basic-order-processing.md
  website/docs/examples/index.md
  website/docs/guide/core-concepts.md
  website/docs/guide/entry-points.md
  website/docs/guide/getting-started.md
  website/docs/guide/result-pattern.md
  website/docs/guide/worker-implementation.md
  website/docs/index.md
  website/package-lock.json
Due: format, lint

refactor: optimize Knip configuration and remove unnecessary ignoreDependencies (#68)
  .github/workflows/ci.yml
  knip.json
  package.json
Due: format

Enable Mermaid diagram rendering in VitePress documentation (#69)
  .gitignore
  pnpm-lock.yaml
  website/docs/.vitepress/config.ts
  website/package.json
Due: format, lint, sort-package-json

chore: release version 0.0.6 (#71)
  packages/boxed/CHANGELOG.md
  packages/boxed/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/worker/CHANGELOG.md
  packages/worker/package.json
  tools/tsconfig/CHANGELOG.md
  tools/tsconfig/package.json
Due: format, sort-package-json

Add GitHub Copilot instructions for automated code review (#72)
  .github/copilot-instructions.md
  CONTRIBUTING.md
Due: format

chore: bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: bump dependencies (#74)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Update packages/contract/src/builder.ts
  packages/contract/src/builder.ts
Due: format, lint

Add comprehensive API documentation to contract builders (#70)
  packages/contract/src/builder.spec.ts
  packages/contract/src/builder.ts
Due: format, lint

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: format

Update packages/worker-nestjs/README.md
  packages/worker-nestjs/README.md
Due: format

Update packages/worker-nestjs/src/temporal.service.ts
  packages/worker-nestjs/src/temporal.service.ts
Due: format, lint

fix: lockfile
  pnpm-lock.yaml
Due: format

fix: ignore lockfile
  lefthook.yml
Due: format

chore: bump nestjs dependency
  packages/worker-nestjs/package.json
  pnpm-lock.yaml
  turbo.json
Due: format, sort-package-json

fix: review
  packages/worker-nestjs/src/interfaces.ts
  packages/worker-nestjs/src/temporal.service.ts
Due: format, lint

feat: Add NestJS integration package for Temporal workers (#73)
  lefthook.yml
  packages/worker-nestjs/README.md
  packages/worker-nestjs/package.json
  packages/worker-nestjs/src/index.ts
  packages/worker-nestjs/src/interfaces.ts
  packages/worker-nestjs/src/temporal.module-definition.ts
  packages/worker-nestjs/src/temporal.module.ts
  packages/worker-nestjs/src/temporal.module.unit.spec.ts
  packages/worker-nestjs/src/temporal.service.ts
  packages/worker-nestjs/src/temporal.service.unit.spec.ts
  packages/worker-nestjs/tsconfig.json
  packages/worker-nestjs/vitest.config.ts
  packages/worker/src/activity-utils.ts
  packages/worker/src/activity-utils.unit.spec.ts
  packages/worker/src/activity.ts
  pnpm-lock.yaml
  turbo.json
Due: format, lint, sort-package-json

Update website/docs/index.md
  website/docs/index.md
Due: format

docs(website): add missing worker and activities implementation with Result/Future pattern to homepage example (#76)
  website/docs/index.md
Due: format

fix: test
  samples/order-processing-worker-nestjs/src/app.module.ts
  samples/order-processing-worker-nestjs/src/integration.spec.ts
Due: format, lint

fix: tests
  samples/order-processing-worker-nestjs/src/activities.provider.ts
Due: format, lint

chore: increase test timeout
  samples/order-processing-worker-nestjs/vitest.config.ts
Due: format, lint

feat(samples): add NestJS worker sample (#75)
  .github/copilot-instructions.md
  knip.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/README.md
  samples/order-processing-worker-nestjs/README.md
  samples/order-processing-worker-nestjs/package.json
  samples/order-processing-worker-nestjs/src/activities.provider.ts
  samples/order-processing-worker-nestjs/src/app.module.ts
  samples/order-processing-worker-nestjs/src/dependencies.module.ts
  samples/order-processing-worker-nestjs/src/domain/entities/order.schema.ts
  samples/order-processing-worker-nestjs/src/domain/ports/inventory.port.ts
  samples/order-processing-worker-nestjs/src/domain/ports/logger.port.ts
  samples/order-processing-worker-nestjs/src/domain/ports/notification.port.ts
  samples/order-processing-worker-nestjs/src/domain/ports/payment.port.ts
  samples/order-processing-worker-nestjs/src/domain/ports/shipping.port.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/create-shipment.usecase.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/process-payment.usecase.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/refund-payment.usecase.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/release-inventory.usecase.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/reserve-inventory.usecase.ts
  samples/order-processing-worker-nestjs/src/domain/usecases/send-notification.usecase.ts
  samples/order-processing-worker-nestjs/src/infrastructure/adapters/inventory.adapter.ts
  samples/order-processing-worker-nestjs/src/infrastructure/adapters/logger.adapter.ts
  samples/order-processing-worker-nestjs/src/infrastructure/adapters/notification.adapter.ts
  samples/order-processing-worker-nestjs/src/infrastructure/adapters/payment.adapter.ts
  samples/order-processing-worker-nestjs/src/infrastructure/adapters/shipping.adapter.ts
  samples/order-processing-worker-nestjs/src/integration.spec.ts
  samples/order-processing-worker-nestjs/src/logger.ts
  samples/order-processing-worker-nestjs/src/main.ts
  samples/order-processing-worker-nestjs/src/workflows.ts
  samples/order-processing-worker-nestjs/tsconfig.json
  samples/order-processing-worker-nestjs/vitest.config.ts
Due: format, lint, sort-package-json

fix: logo
  packages/worker/src/worker.ts
  website/docs/public/logo.svg
Due: format, lint

feat(website): add glowing effect and curly braces to logo (#77)
  knip.json
  packages/worker/src/worker.ts
  website/docs/.vitepress/theme/custom.css
  website/docs/.vitepress/theme/index.ts
  website/docs/public/logo.svg
Due: format, lint

fix: glowing effect
  website/docs/.vitepress/theme/custom.css
Due: none

fix: glowing effect (#78)
  website/docs/.vitepress/theme/custom.css
Due: none

Replace @temporal-contract/boxed with @swan-io/boxed in client and activities (#79)
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/src/types.ts
  packages/worker/package.json
  packages/worker/src/__tests__/worker.integration.spec.ts
  packages/worker/src/activity.ts
  packages/worker/src/activity.unit.spec.ts
  pnpm-lock.yaml
  samples/order-processing-worker-nestjs/package.json
  samples/order-processing-worker-nestjs/src/activities.provider.ts
  samples/order-processing-worker/package.json
  samples/order-processing-worker/src/application/activities.ts
Due: format, lint, sort-package-json

Update website/docs/guide/client-usage.md
  website/docs/guide/client-usage.md
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-package-json: any of: **/package.json
